.baccGround {
    /* background-image: url("/assets/cash-macanaya-LtKseHMHKMQ-unsplash\ \(1\).jpg"); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {

    background-image: url(../assets/cash-macanaya-LtKseHMHKMQ-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.newTitle{
    
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    /* margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px; */
    top: 500px;
    
}
.bgtxt{
    /* background-image: url(../assets/cash-macanaya-LtKseHMHKMQ-unsplash\ \(1\).jpg); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.txtColor {

    color: black;
    font-size: 45px;
}

.txtColor2 {

    position: relative;
    top: px;
    color: white;
    font-size: 18px;
}


.nav-link {


    align-items: flex-end;
}

 #styleNow {

    float: right;
    position: relative;
    top: 150px;
    
 }

 /* container-fluid {
    position: relative;
    width: 100%;
    background-position: cover;
 } */

.container-fluid {

    margin: 0px !important;
    padding: 0px !important;
 }

 .enterBtn1 {


    position: relative;

    left: 249px;
 }

 #userNum1 {

    padding-left: 40px;
    
    align-content: space-between;
    

 }

 #userNum2 {

    position: absolute;
    
    left: 100px;

 }

 .txtbg2{


   
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
}